@charset "utf-8";



@media only screen and (min-width: 1300px) {
    .container {
        max-width: 1200px;
        width: 100%;
    }
    .container.custom {
        max-width: 1400px;
    }
    .container.custom-for-sl {
        max-width: 1230px;
    }
}
/* container control end */

@media only screen and (min-width: 1300px) {
    .container {
        max-width: 1240px;
        width: 100%;
    }
    .container.custom {
        max-width: 1200px;
        width: 100%;
    }
}
/* container control end */

@media only screen and (max-width: 1700px) {
  
}

@media only screen and (max-width: 1440px) {
    .rs-about.main-home .about-images {
        right: 2%;
    }
}

@media only screen and (max-width: 1366px) { 
    .full-width-header .rs-header .menu-area .main-menu .rs-menu ul.nav-menu li {
        margin-right: 5px;
    }
    .full-width-header .rs-header .menu-area .main-menu .rs-menu ul.nav-menu li a {
        font-size: 14px;
    } 
    .full-width-header .rs-header .expand-btn-inner ul .btn-quote a {
        padding: 10px 18px;
        font-size: 14px;
    }
    .pr-30 {
        padding-right: 20px;
    }
    .rs-about.main-home .about-images {
        right: 3%;
    }
    .rs-about.main-home .about-images img {
        width: 650px;
    }
    .rs-contact.main-home .contact-wrap .content-part .title {
        font-size: 20px;
        line-height: 32px;
    }
    .rs-contact.main-home .contact-wrap .content-part .desc {
        font-size: 14px;
    }
    .rs-banner.style2 .content-wrap .title {
        font-size: 43px;
    }
    .rs-about.inner .sec-title2 .title{
        font-size: 27px;
        line-height: 37px;
    }
    .rs-about.innner-style2 .sec-title2 .title{
        font-size: 31px;
        line-height: 41px;
    }
    .rs-pricing.style2 .pricing-table {
        padding: 30px 30px 0px 30px;
    }
}


@media only screen and (max-width: 1199px) {
    .lg-pl-pr-15,
    .lg-col-padding > [class*="col-"] {
        padding-right: 15px !important; 
        padding-left: 15px !important;
    }
    .rs-services.style5 .flip-box-inner .flip-box-wrap .back-front {
        height: 100%;
    }

    .rs-banner.style3 .banner-content .title {
        font-size: 53px;
        line-height: 63px;
    }
    .rs-banner.style3 .banner-content .description p {
        font-size: 17px;
        line-height: 30px;
    }
    .rs-banner.style3 .images-part {
        top: 40%;
        right: 6%;
    }
    .rs-banner.style5 {
        background-position: center;
    }
    .rs-about.inner-style3 .sec-title .title {
        font-size: 31px;
        line-height: 41px;
    }
    .rs-banner.style5 .banner-content .title {
        font-size: 80px;
        line-height: 90px;
        margin-bottom: 30px;
    }
}


@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .container-fluid {
        padding-left: 30px;
        padding-right: 30px;
    }
    .full-width-header .rs-header .menu-area .main-menu .rs-menu ul.nav-menu.onepage li {
        margin-right: 10px;
    }
    .full-width-header .rs-header .menu-area .main-menu .rs-menu ul.nav-menu.onepage li a {
        font-size: 13px;
        margin-right: 10px;
    }
    .full-width-header .rs-header .expand-btn-inner ul .btn-quote a {
        padding: 10px 16px;
        font-size: 14px;
    }
    .full-width-header .rs-header .menu-area .main-menu .rs-menu ul.nav-menu li {
        margin-right: 5px;
    }
    .full-width-header .rs-header.style2.modify1 .menu-area .main-menu .rs-menu ul.nav-menu li {
        margin-right: 5px;
    }
    .full-width-header .rs-header.style2.modify1 .menu-area .main-menu .rs-menu ul.nav-menu li a {
        font-size: 14px;
    }
    .pr-30 {
        padding-right: 10px;
    }
    .pr-25 {
        padding-right: 15px;
    }
    .pr-26{
        padding-right: 26px !important;
    }
    .full-width-header .rs-header .expand-btn-inner ul .rsphone a i::before {
        font-size: 17px;
    }
    .full-width-header .rs-header .expand-btn-inner ul .rsphone a,
    .full-width-header .rs-header .menu-area .main-menu .rs-menu ul.nav-menu li a {
        font-size: 14px;
    }
    .rs-banner.main-home .content-wrap {
        padding: 240px 0 100px;
    }
    .rs-banner.main-home .content-wrap .title {
        font-size: 33px;
        line-height: 46px;
        margin: 0px 0px 17px 0px;
    }
    .rs-banner.main-home .content-wrap .banner-btn li .rs-videos .animate-border .popup-border {
        top: 75%;
        left: 56%;
    }
    .rs-about.style1.home-style2 .images-part img {
        max-width: 600px;
        right: 10%;
    }
    .rs-banner.main-home .content-wrap .description p {
        font-size: 16px;
        line-height: 28px;
        padding-bottom: 45px;
    }
    .rs-banner.main-home .content-wrap {
        padding: 240px 0 100px;
    }
    .rs-about.main-home .about-images {
        position: absolute;
        right: 3%;
    }
    .rs-partner.main-home.modify1 .grid-figure{
        padding-left: 30px;
        padding-right: 30px;
    }
    .rs-counter.main-home.modify2 .couter-part .title:after {
        left: -15px;
        width: 30px;
    }
    .rs-banner.style2 .images-part img {
        max-width: 550px;
        right: 30%;
    }
    .rs-about.main-home .about-images img {
        max-width: 490px;
    }
    .rs-contact.main-home .contact-wrap {
        padding: 30px 30px 40px 30px;
    }
    .rs-contact.main-home .contact-wrap .content-part .title {
        font-size: 17px;
        line-height: 27px;
    }
    .rs-contact.main-home .contact-wrap .content-part .desc {
        font-size: 13px;
    }
    .rs-contact.main-home .address-box .address-text .title {
        font-size: 20px;
        line-height: 30px;
    }
    .rs-contact.main-home .address-box .address-text .desc {
        font-size: 15px;
    }
    .rs-services.style2 .services-item {
        padding: 25px 30px 25px 30px;
    }
    .rs-services.style2 .services-item .services-content .services-text .title {
        font-size: 18px;
        line-height: 28px;
    }
    .rs-services.style2 .services-item .services-content .services-desc p {
        font-size: 14px;
    }
    .rs-services.style2 .services-item .services-content {
        padding-left: 15px;
    }
    .rs-services.style2 .services-item .services-icon img {
        height: 50px;
        width: 50px;
    }
    .rs-about.style1 .sec-title2 .title{
        font-size: 27px;
        line-height: 37px;
    }
    .rs-services.style3 .services-item .services-content .services-text .title {
        font-size: 17px;
        line-height: 27px;
    }
    .rs-services.style3 .services-item {
        padding: 50px 15px 50px 15px;
    }
    .rs-services.style3 .services-item .services-icon img {
        height: 60px;
        width: 60px;
    }
    .rs-banner.style2 .content-wrap .title {
        font-size: 34px;
        line-height: 44px;
    }
    .rs-banner.style2 .content-wrap .description {
        font-size: 16px;
    }
    .rs-services.style6 .services-item .services-content .services-desc p {
        font-size: 13px;
        line-height: 27px;
    }
    .rs-services.style6 .services-item .services-content .services-text .title {
        font-size: 17px;
        line-height: 27px;
    }
    .rs-services.style6 .services-item .services-icon img {
        height: 60px;
        width: 60px;
    }
    .rs-services.style6 .services-item {
        padding: 35px 20px 36px 23px;
    }
    .rs-statistic .images-statistic img {
        width: 480px;
    }
    .rs-contact.style3 .sec-title .title{
        font-size: 33px;
        line-height: 43px;
    }
    .rs-footer.style1 .footer-top .widget-title {
        font-size: 20px;
        line-height: 23px;
    }
    .rs-footer.style1 .footer-bottom .copy-right-menu li {
        padding: 0px 10px 0 16px;
        font-size: 14px;
    }
    .rs-partner.main-home .grid-figure{
        padding-left: 60px;
        padding-right: 60px;
    }
}

@media screen and (min-width: 992px){
    .nav-menu .rs-mega-menu > a:after, 
    .nav-menu > .menu-item-has-children > a:after {
        content: "\f107";
        font-family: FontAwesome;
        float: right;
        margin: 2px 0 0 5px;
        display: none;
    }
    .sticky{ 
/*        background: #fff !important;*/
        position: fixed !important;
        top: 0px;
        z-index: 999;
        margin: 0 auto !important;
        padding: 0;
        left: 0;
        right: 0;
        width: 100%;
        -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
        -webkit-animation-duration: .5s;
        animation-duration: .5s;
        -webkit-animation-name: sticky-animation;
        animation-name: sticky-animation;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
    .right_menu_togle.mobile-navbar-menu{
        display: none;
    }
    .nav-menu ul {
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }
}

@media only screen and (max-width: 991px) {
    .hidden-md {
        display: none !important;
    }
    .order-first,
    .order-last {
        order: unset;
    }
    .full-width-header .rs-header .menu-area .custom-row,
    .full-width-header .rs-header .menu-area .custom-row .col-cell {
        display: block;
    }
    .full-width-header .rs-header.style2 .menu-area .rs-menu-area,
    .full-width-header .rs-header .menu-area .rs-menu-area {
        display: block;
    }
    .full-width-header .mobile-menu {
        display: block;
        height: 65px;
        line-height: 65px;
    }
    .full-width-header .rs-header .topbar-area {
        display: none;
    }
    .rs-videos.style1 .images-part{
        margin-top: 0;
        padding: 200px 0 220px;
    }
    .full-width-header .rs-header .menu-area .main-menu .rs-menu ul.nav-menu li.menu-item-has-children::after, 
    .full-width-header .rs-header .menu-area.sticky .logo-area a .sticky-logo {
        display: none;
    }
    .full-width-header .rs-header .menu-area .main-menu .rs-menu ul.sub-menu.right {
        right: unset;
        left: 0;
    }
    .full-width-header .rs-header.style2.modify1 .menu-area .main-menu .rs-menu ul.nav-menu li a,
    .full-width-header .rs-header .menu-area .main-menu .rs-menu ul.nav-menu li a {
        color: #111;
        margin-right: unset;
    }
    .full-width-header .rs-header.style2 .mobile-menu .rs-menu-toggle{
        color: #161616;
    }
    .full-width-header .rs-header .menu-area .main-menu .rs-menu ul.nav-menu li a:hover,
    .full-width-header .rs-header .menu-area .main-menu .rs-menu ul.nav-menu li.current-menu-item > a {
        color: #fd6509;
    }
    .full-width-header .rs-header.style1 .menu-area .main-menu .rs-menu ul.nav-menu li.menu-item-has-children > a::before,
    .full-width-header .rs-header.style2.modify1 .menu-area .main-menu .rs-menu ul.nav-menu li.menu-item-has-children > a::before,
    .full-width-header .rs-header .menu-area .main-menu .rs-menu ul.nav-menu li.menu-item-has-children > a::before {
        display: none;
    }
    .full-width-header .rs-header.style2.modify1 .menu-area .logo-area a .sticky-logo{
        display: block;
        max-height: 26px;
        transition: 0s;
    }
    .full-width-header .style1.header-transparent .mobile-menu .rs-menu-toggle .nav-dots{
        background: #333;
    }
    .full-width-header .menu-area.sticky .mobile-menu .rs-menu-toggle {
        color: #fd6509;
    }
    .full-width-header .mobile-menu .rs-menu-toggle.black-color{
        color: #131313;
    } 
    .full-width-header .mobile-menu .rs-menu-toggle.purple-color{
        color: #7955e7;
    }
    .full-width-header .mobile-menu .rs-menu-toggle{
        color: #fff;
    }
    .full-width-header .rs-header.style2.modify1 .menu-area .rs-menu-area {
        float: unset;
    }
    .rs-services.style9 .services-item{
        max-width: 400px;
        margin: 0 auto;
    }
    .full-width-header .rs-header.style1.modify1 .menu-area .main-menu .rs-menu ul.nav-menu {
        background: #fff;
        box-shadow: 0 6px 25px #eee;
    }
    .full-width-header .rs-header .menu-area .main-menu .rs-menu ul.nav-menu.onepage li a::after {
       display: none;
    }
    .full-width-header .rs-header .menu-area .main-menu .rs-menu ul.nav-menu.onepage li a {
        color: #161616;
    }
    .rs-faq.modify1 .images-part img {
        position: unset;
        right: unset;
        top: unset;
        transform: unset;
        max-width: 100%;
        margin-top: 50px;
    }
    .full-width-header .rs-header.style2.modify1 .menu-area{
        background: #fff;
    }
    .rs-about.style1.home-style2 .images-part img {
        max-width: 100%;
        right: unset;
    }
    .rs-my-account .title {
        font-size: 35px;
        line-height: 45px;
    }
    .rs-project.style2 .project-item .project-content .portfolio-inner .title {
        font-size: 14px;
        line-height: 24px;
    }
    .rs-project.style2 .project-item .project-content .portfolio-inner .category {
        font-size: 18px;
        line-height: 24px;
    }   
    .md-pb-150{
        padding-bottom: 150px;
    }
    .bg24 {
        background-image: unset;
    }
    .rs-checkout .full-grid .form-content-box {
        margin-bottom: 30px;
    }
    .rs-checkout .checkout-title {
        margin-bottom: 20px;
    }
    .rs-checkout .full-grid .payment-method{
        background: #ebe9eb;
        border-radius: 5px;
        margin-top: 25px;
        padding: 20px;
    }
    .add-btn {
        padding: 10px 25px;
    }
    .rs-case-studies-single .ps-informations-style ul {
        display: block;
    }
   .rs-project.style1.modify1 .owl-nav .owl-next, .rs-project.style1.modify1 .owl-nav .owl-prev {
        display: none;
   }
    .rs-case-studies-single .ps-informations-style ul li {
        border-right: unset;
        display: block;
        position: relative;
        padding-top: 20px;
    }
    .rs-team-Single .btm-info-team .con-info::before {
        top: 185px;
    }
    .rs-team-Single .btm-info-team {
        padding: 45px;
    }
    .rs-cta.style1 .button-wrapt {
        text-align: left;
    }
    .rs-contact.style1.modify1 .images-part {
        padding: 300px 200px;
    }
    .rs-partner.main-home.modify1 .grid-figure {
        border-bottom: unset;
        border-right: unset;
    }
    .rs-banner.main-home .content-wrap .title {
        font-size: 32px;
        line-height: 50px;
        margin: 0px 263px 25px 0px;
    }
    .rs-banner.main-home .content-wrap .description p {
        font-size: 15px;
        line-height: 28px;
        padding-bottom: 44px;
        padding-right: 300px;
    }
    .rs-banner.main-home .images-part {
        right: 4%;
        max-width: 39%;
    }
    .rs-banner.main-home .content-wrap .banner-btn li .rs-videos .animate-border .popup-border {
        top: 74%;
        left: 38%;
    }
    .rs-banner.main-home .content-wrap {
        padding: 180px 0 80px;
    }
    .rs-about.main-home .about-images {
        position: unset;
        right: unset;
        top: unset;
        transform: unset;
        text-align: center;
    }
    .rs-about.main-home .about-images img {
        max-width: 80%;
        width: unset;
    }
    .rs-counter.main-home .sec-title .title{
        font-size: 32px;
    }
    .rs-footer.style1 .subscribe-bg .subscribe-top .footer-contact .address-widget {
        justify-content: flex-start;
    }
    .rs-footer.style1 .subscribe-bg .subscribe-top .footer-contact {
        flex: 0 0 100%;
    }
    .rs-footer.style1 .subscribe-bg .subscribe-top {
        padding-bottom: 50px;
    }
    .rs-footer.style1.modify1 .footer-top,
    .rs-footer.style1 .footer-top {
        padding: 60px 0 40px;
    }
    .rs-footer.style1 .copyright,
    .rs-footer.style1 .copy-right-menu{
        text-align: center;
    }
    .rs-footer.style1 .footer-bottom .copy-right-menu li {
        padding: 0px 12px 0 18px;
    }
    .rs-services.style2 {
        margin-top: 80px;
    }
    .rs-services.style2 .services-item .services-content .services-text .title {
        font-size: 20px;
        line-height: 30px;
    }
    .rs-services.style2 .services-item .services-content {
        padding-left: 15px;
    }
    .rs-services.style2 .services-item {
        padding: 25px 30px 25px 30px;
    }
    .rs-services.style2 .services-item .services-icon img {
        height: 50px;
        width: 50px;
    }
    .rs-slider.style1 .slider .slider-content .sl-title {
        font-size: 64px;
        line-height: 64px;
        margin-bottom: 15px;
    }
    .rs-slider.style1 .slider .slider-content {
        padding: 140px 0 215px;
    }
    .rs-services.style3 .services-item {
        padding: 40px 20px 40px 20px;
    }
    .rs-services.style3 .services-item .services-content .services-text .title {
        font-size: 18px;
        line-height: 28px;
    }
    .rs-services.style3 .services-item .services-content .services-desc p {
        font-size: 14px;
    }
    .rs-services.style3 .sec-title .title{
        font-size: 32px;
        line-height: 42px;
    }
    .bg4 {
        background: unset;
        margin-top: 45px;
    }
    .rs-process.style1 .all-services .services-item {
        width: unset;
        float: unset;
    }
    .rs-process.style1 .all-services {
        display: block;
        margin-bottom: 50px;
    } 
    .rs-contact.style2 .map-canvas iframe {
        height: 394px;
    }
    .rs-video.style1 .images-part {
        padding: 200px 0 220px 0;
        margin-top: unset;
    } 
    .rs-process.style1 .sec-title .title {
        font-size: 29px;
        line-height: 39px;
    }
    .rs-seo-website.style1 .desc {
        font-size: 14px;
    }
    .rs-pricing.style2 .pricing-table,
    .rs-pricing.style1 .pricing-table {
        max-width: 500px;
        margin: 0 auto;
    }
    .rs-pricing.style2 .pricing-table .pricing-table-price .rs-pricing-table-price-tag .table-price-text {
        font-size: 45px;
    }
    .rs-testimonial.style2 .testi-item .author-desc {
        padding: 44px 30px 40px 30px;
    }
    .rs-testimonial.style2 .testi-item .author-desc .desc {
        font-size: 15px;
    }
    .rs-testimonial.style2 .testi-item .author-desc .desc .quote {
        width: 36px;
        top: -11px;
    }
    .rs-banner.style2 .images-part img{
        max-width: 100%;
    }
    .rs-testimonial.style2 .testi-item .author-part .name {
        font-size: 17px;
        line-height: 27px;
    }
    .rs-partner.style2 .rs-carousel .owl-dots .owl-dot {
       display: none;
    }
    .rs-banner.style2 .content-wrap .title {
        font-size: 43px;
        line-height: 52px;
        margin: 0px 0px 20px 0px;
    }
    .rs-banner.style2 .content-wrap {
        padding: 85px 0 60px;
    }
    .rs-banner.style2 {
        background-position: top center;
    }
    .rs-about.style1 .rs-animation{
        display: none;
    }
    .bg8 {
        background-position: unset;
    }
    .rs-team.style1 .team-wrap .team-content .team-name {
        font-size: 20px;
    }
    .rs-team.style1 .team-wrap .team-content .team-title {
        font-size: 14px;
    }
    .rs-contact.style1 .contact-wrap {
        padding: 70px 50px 70px 50px;
    }
    .rs-banner.style3 .images-part {
       display: none;
    }
    .rs-banner.style3 .banner-content {
        padding: 80px 0 50px;
    }
    .rs-banner.style3 .banner-content .title {
        font-size: 40px;
        line-height: 50px;
    }
    .rs-banner.style3 .banner-content .description p {
        font-size: 16px;
        line-height: 29px;
    }
    .rs-banner.style3 {
        background-size: unset;
    }
    .bg11 {
        padding: 170px 0 80px;
    }
    .rs-banner.style4 .banner-content .title {
        font-size: 38px;
    }
    .rs-banner.style4 .banner-content .desc {
        font-size: 16px;
        line-height: 26px;
        margin: 0px 0px 40px 0px;
    }
    .rs-banner.style4 .banner-content .sub-title {
        font-size: 16px;
    }
    .rs-banner.style4 .banner-content {
        padding: 150px 0 90px;
    }
    .rs-statistic .images-statistic img {
        width: 100%;
    }
    .rs-banner.style5 .animate-part{
        display: none;
    }
    .rs-banner.style5 .banner-content {
        padding: 170px 0 170px;
    }
    .rs-about.style2 .animate-part {
        display: none;
    }
    .rs-about.style2 {
        margin-top: -300px;
        padding: 380px 0 80px;
        z-index: -11;
    }
    .rs-about.style2 .widget-part .content-part {
        left: 170px;
    }
    .mb-340{
        margin-bottom: 30px !important;
    }
    .rs-process.style2 .process-item .process-text{
        text-align: center !important;
    }
    .pb-280 {
        padding-bottom: 210px !important;
    }
    .rs-pricing.style1.modify1.home6 .pricing-table {
        max-width: 500px;
        margin: 0 auto;
    }
    .rs-seo-website.style1.modify1 .newsletter-form{
        max-width: 600px;
    }
    .bg22 {
        background-position: top center;
        padding: 90px 0 120px;
    }
    .rs-footer.style1.modify3 {
        background-position: top center;
    }
    .rs-breadcrumbs .breadcrumbs-inner .page-title {
        font-size: 40px;
        line-height: 48px;
    }
    .rs-breadcrumbs .breadcrumbs-inner {
        padding: 150px 0 200px;
    }
    .bg15 {
        padding: 125px 0 150px;
    }
    .rs-about.inner-style3 .sec-title .title.title2{
        margin: unset;
    }
    .bg18 {
        padding: 110px 0 200px;
    }
    .bg19 {
        background-position: top center;
    }
    .rs-cta.style1 .title-wrap .epx-title {
        font-size: 30px;
        line-height: 40px;
        margin: 0px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .rs-partner.main-home.modify1 .grid-figure {
        padding: 20px 60px 20px 60px;
    }
}
@media only screen and (max-width: 767px) {
    .hidden-sm {
        display: none !important;
    }
    .container-fluid {
        padding-left: 65px;
        padding-right: 65px;
    }
    .gridFilter button {
        font-size: 14px;
        padding: 4px 18px;
    }
    .rs-project.style3 .project-item .project-content .title {
        font-size: 16px;
    }
    .rs-project.style3 .project-item .project-content .category a {
        font-size: 14px;
    }
    .rs-project.style7 .project-item .project-content .title,
    .rs-project.style6 .project-item .project-content .project-inner .title,
    .rs-project.style5 .project-item .project-content .project-inner .title,
    .rs-project.style4 .project-item .project-content .title {
        font-size: 16px;
        line-height: 28px;
    }
    .rs-project.style7 .project-item .project-content .category,
    .rs-project.style6 .project-item .project-content .project-inner .categor,
    .rs-project.style5 .project-item .project-content .project-inner .category,
    .rs-project.style4 .project-item .project-content .category {
        font-size: 14px;
        line-height: 24px;
    }
    .rs-counter.main-home .couter-part {
        background-position: 10px 62px;
    }
    .rs-cart .cart-wrap table.cart-table th {
        display: none;
    }
    .rs-cart .cart-wrap table.cart-table td {
        display: block;
    }
    .rs-cart .cart-collaterals .cart-totals {
        float: unset;
        width: 100%;
    }
    .rs-cart .cart-wrap table.cart-table .action .coupon input {
       width: 100%;
    }
    .rs-cart .cart-collaterals .cart-totals .wc-proceed-to-checkout a.readon, .rs-cart .cart-wrap table.cart-table .action .coupon button {
        display: block;
        text-align: center;
        width: 100%;
    }
    .rs-strategy .strategy-img .images.one{
        left: -14px;
    }
    .rs-strategy .strategy-img .images.three{
        right: -14px;
    }
    .rs-cart .cart-wrap table.cart-table .action .update-cart button.add-btn {
        width: 100%;
    }
    .rs-cart .cart-wrap table.cart-table .action .coupon input {
        padding: 0 20px;
        margin: 0 10px 10px 0;
    }
    .rs-cart .cart-wrap table.cart-table .action .coupon {
        float: none;
        margin-bottom: 30px;
        text-align: left !important;
        display: block;
        width: 100%;
    }
    .rs-cart .cart-wrap table.cart-table .action {
        text-align: left !important;
        width: 100%;
    }
    .rs-shop-part .product-list .content-desc .loop-product-title {
        font-size: 16px;
        line-height: 26px;
    }
    .rs-shop-part .product-list .content-desc .price {
        font-size: 14px;
        line-height: 25px;
    }
    .rs-shop-part .from-control {
       float: unset;
    }
    .rs-team-Single .btm-info-team {
        padding: 30px;
    }
    .rs-team-Single .btm-info-team .con-info .title {
        font-size: 26px;
        line-height: 36px;
    }
    .rs-team-Single .btm-info-team .con-info .designation-info {
        font-size: 14px;
        line-height: 25px;
    }
    .rs-contact.style1.modify1 .images-part {
        padding: 250px 150px;
    }
    .rs-contact.style1.modify1 .contact-wrap {
        padding: 70px 40px 70px 40px;
    }
    .rs-inner-blog .blog-details .blog-full .comment-note textarea {
        height: 120px;
    }
    h3 {
        font-size: 25px;
        font-weight: 700;
    }
    .rs-inner-blog .blog-details .blog-full .comment-title {
        font-size: 20px;
        margin-bottom: 30px;
        margin-top: 27px;
    }
    blockquote {
        margin: 21px 0px;
        padding: 30px 50px;
        font-size: 16px;
    }
    .rs-inner-blog .blog-item .blog-content .blog-title {
        font-size: 23px;
        line-height: 33px;
    }
    .rs-contact.style2 .contact-widget textarea {
        height: 120px;
    }
    .rs-contact.style2 .contact-widget {
        background: #ffffff;
        padding: 35px 40px 35px 40px;
    }
    .rs-contact.style2 .contact-box {
        padding: 50px 35px 50px 35px;
    }
    .rs-pricing.style2 .pricing-table .pricing-table-body .features-list {
        padding: 17px 5px 4px 5px;
    }
    .rs-pricing.style2 .pricing-table{
        max-width: 380px;
    }
    .rs-counter.main-home.modify2 .couter-part .rs-count {
        font-size: 38px;
        line-height: 54px;
    }
    .rs-counter.main-home.modify2 .couter-part .rs-count::after {
        top: 4px;
        font-size: 31px;
    }
    .rs-counter.main-home.modify2 .couter-part .title {
        position: relative;
        font-size: 17px;
        line-height: 17px;
    }
    .rs-process.style2 .process-item .process-text .process-title .title {
        font-size: 18px;
        line-height: 26px;
    }
    .rs-seo-website.style1.modify1 .newsletter-form{
        max-width: 490px;
    }
    .rs-pricing.style1.modify1.home6 .pricing-table {
        max-width: 380px;
        margin: 0 auto;
    }
    .rs-pricing.style1.modify1 .pricing-table .pricing-table-price .pricing-table-price-tag .table-price-text {
        font-size: 50px;
    }
    .rs-counter.main-home.modify2 .couter-part .title::after {
        display: none;
    }
    .rs-services.style10 .services-item .services-icon img {
        width: 50px;
        height: 50px;
        margin-bottom: 30px;
    }
    .rs-services.style10 .services-item .services-text {
        padding: 0px 0px 0px 0px;
    }
    .rs-services.style10 .services-item {
        display: block;
    }
    .rs-services.style10 .services-item .services-text .services-title .title {
        font-size: 18px;
        line-height: 26px;
    }
    .rs-about.style2 .sec-title .desc.desc2{
        font-size: 16px;
        line-height: 26px;
    }
    .rs-about.style2 .sec-title .title{
        font-size: 25px;
        line-height: 35px;
    }
    .rs-about.style2 .widget-part .content-part {
        left: 80px;
    }
    .rs-banner.style5 .banner-content {
        padding: 140px 0 120px;
    }
    .rs-banner.style5 .banner-content .title {
        font-size: 50px;
        line-height: 65px;
        margin-bottom: 30px;
    }
    .rs-banner.style5 .banner-content .description p {
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 30px;
    }
    .rs-counter.main-home .sec-title .title {
        font-size: 28px;
    }
    .rs-team.style2 .sec-title .title{
        font-size: 30px;
        line-height: 40px;
    }
    .rs-team.style2 .team-item-wrap .team-content .person-name {
        font-size: 20px;
        line-height: 40px;
    }
    .rs-team.style2 .team-item-wrap .team-content .designation {
        font-size: 14px;
        line-height: 24px;
    }
    .rs-services.style7 .sec-title .title.title2{
        font-size: 31px;
        line-height: 40px;
    }
    .rs-services.style7 .services-item {
        padding: 50px 35px 50px 35px;
        margin: unset;
    }
    .rs-services.style7 .services-item .services-content .services-text .title {
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 10px;
    }
    .rs-counter.main-home.modify1 .couter-part {
        padding: 30px 40px 40px 40px;
        margin: unset;
    }
    .rs-banner.style4 .banner-content {
        padding: 120px 0 60px;
    }
    .rs-counter.style2 .counter-list .counter-text .count-number .rs-count {
        font-size: 35px;
        line-height: 55px;
    }
    .rs-counter.style2 .counter-list .counter-text .title {
        font-size: 16px;
        line-height: 16px;
    }
    .rs-counter.style2 .sec-title3 .title{
        font-size: 33px;
    }
    .rs-services.style6 .sec-title3 .title {
        font-size: 30px;
        line-height: 1.2em;
    } 
    .rs-services.style6 .services-item .services-content .services-text .title {
        font-size: 17px;
        line-height: 27px;
    }
    .rs-services.style6 .services-item .services-icon img {
        height: 60px;
        width: 60px;
    }
    .rs-services.style6 .services-item {
        padding: 35px 20px 36px 23px;
        margin: unset;
    }
    .rs-services.style5 .flip-box-inner .flip-box-wrap .back-front .back-front-content .back-title-part .back-title {
        font-size: 18px;
        line-height: 28px;
    }
    .rs-services.style5 .flip-box-inner .flip-box-wrap .front-part .front-content-part .front-title-part .title {
        font-size: 18px;
    }
    .rs-services.style5 .flip-box-inner .flip-box-wrap .back-front {
        margin: unset;
    }
    .rs-services.style5 .flip-box-inner .flip-box-wrap .front-part .front-content-part {
        margin: unset;
    }
    .rs-pricing.style1 .pricing-table {
        max-width: 400px;
    }
    .rs-pricing.style1 .pricing-table .pricing-table-body {
        padding: 32px 30px 28px 30px;
    }
    .rs-pricing.style1 .pricing-table .pricing-table-body .features-title {
        font-size: 25px;
        line-height: 29px;
    }
    .rs-pricing.style1 .pricing-table .pricing-table-price .pricing-table-price-tag .table-price-text {
        font-size: 60px;
    }
    .rs-services.style3 .sec-title .title {
        font-size: 29px;
        line-height: 39px;
    }
    .rs-banner.main-home .content-wrap .sub-text {
        font-size: 16px;
        margin: 0px 0px 12px 0px;
    }
    .rs-banner.main-home .content-wrap .title {
        margin: 0px 63px 25px 0px;
    }
    .rs-banner.main-home .content-wrap .description p {
        padding-right: unset;
    }
    .rs-banner.main-home .content-wrap .banner-btn li .rs-videos .animate-border .popup-border {
        left: 50%;
        top: 76%;
    }
    .rs-banner.main-home .content-wrap {
        padding: 160px 0 60px;
    }
    .rs-services.main-home .services-item {
        margin: unset;
        padding: 50px 30px 50px 30px;
    }
    .rs-services.main-home .services-item .services-content .services-text .title {
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 10px;
    }
    .rs-services.main-home .services-item .services-icon .image-part .main-img {
        height: 60px;
        width: 60px;
    }
    .rs-services.main-home .services-item .services-icon .image-part .hover-img {
        height: 60px;
        width: 60px;
    }
    .rs-services.main-home .services-item .services-content .services-desc p {
        font-size: 14px;
    }
    .rs-services.main-home .services-item .services-content .serial-number {
        font-size: 60px;
    }
    .sec-title2 .desc {
        font-size: 16px;
    }
    .rs-testimonial.main-home .testi-item .item-content {
        padding: 106px 25px 36px 25px;
    }
    .rs-testimonial.main-home .testi-item .item-content .desc {
        font-size: 16px;
    }
    .rs-testimonial.main-home .testi-item .testi-content .testi-information .name {
        font-size: 20px;
        line-height: 30px;
    }
    .rs-contact.main-home .sec-title2 .desc{
        font-size: 15px;
    }
    .rs-contact.main-home .address-box .address-text .title {
        font-size: 20px;
        line-height: 30px;
    }
    .rs-contact.main-home .address-box .address-text .desc {
        font-size: 14px;
    }
    .rs-counter.main-home .couter-part .rs-count {
        font-size: 35px;
        line-height: 55px;
    }
    .rs-counter.main-home .couter-part .title {
        font-size: 16px;
        line-height: 24px;
    }
    .rs-blog .blog-item .blog-content .blog-title {
        font-size: 17px;
        line-height: 1.2;
    }
    .rs-services.style2 .services-item {
        display: block;
    }
    .rs-services.style2 .services-item .services-content {
        padding-left: unset;
    }
    .rs-slider.style1 .owl-nav .owl-next, .rs-slider.style1 .owl-nav .owl-prev {
        display: none;
    }
    .rs-slider.style1 .slider .slider-content .sl-title {
        font-size: 48px;
        line-height: 48px;
        margin-bottom: 10px;
    }
    .rs-slider.style1 .slider .slider-content .desc {
        font-size: 16px;
        line-height: 27px;
    }
    .rs-services.style3 .services-item {
       margin: unset;
    }
    .rs-process.style1 .all-services .services-item .services-text .services-title {
        font-size: 16px;
        line-height: 1.2em;
    }
    .rs-process.style1 .all-services .services-item .title {
        font-size: 18px;
    }
    .rs-process.style1 .all-services .services-item .services-icon img {
        width: 50px;
        height: 50px;
    }
    .rs-video.style1 .images-part {
        padding: 180px 0 200px 0;
    }
    .rs-seo-website.style1 .newsletter-form button {
        width: 140px;
    }
    .rs-seo-website.style1 .newsletter-form input[type="email"] {
        padding: 0 2px 0 12px;
    }
    .rs-seo-website.style1 .newsletter-form input[type="website"] {
        padding: 0 15px 0 26px;
    }
    .sec-title2 .title,
    .sec-title .title,
    .sec-title3 .title,
    .sec-title .title.title3,
    .rs-process.style1 .sec-title .title,
    .rs-seo-website.style1 .sec-title .title {
        font-size: 28px;
        line-height: 38px;
    }
    .rs-project.style1 .project-item .project-content .project-inner .category {
        font-size: 16px;
        line-height: 33px;
    }
    .rs-project.style1 .project-item .project-content .project-inner .title {
        font-size: 15px;
        margin-bottom: 4px;
    }
    .rs-project.style1 .project-item .project-content .p-icon {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
    .rs-project.style1 .project-item .project-content .p-icon a i {
        font-size: 14px;
    }
    .rs-banner.style2 .content-wrap .title {
        font-size: 28px;
        line-height: 38px;
        margin: 0px 0px 20px 0px;
    }
    .rs-banner.style2 .content-wrap .description {
        font-size: 16px;
        margin: 0px 0px 30px 0px;
    }
    .rs-services.style4 .services-item {
        padding: 50px 35px 50px 35px;
        margin: unset;
    }
    .rs-services.style4 .services-item .services-icon img {
        height: 70px;
        width: 70px;
    }
    .rs-services.style4 .services-item .services-content .services-text .title {
        font-size: 22px;
        line-height: 32px;
    }
    .rs-services.style4 .sec-title2 .title{
        font-size: 26px;
        line-height: 28px;
    }
    .rs-services.style4 .services-item .services-content .services-desc p {
        font-size: 14px;
    }
    .rs-contact.style1 .contact-wrap {
        padding: 60px 40px 60px 40px;
        background: #e8f0fb;
    }
    .rs-strategy .strategy-img .images,
    .rs-about.style1 .images-part .about-img .images{
        position: static;
    }
}

@media only screen and (max-width: 575px) {
    .container-fluid {
        padding-left: 50px;
        padding-right: 50px;
    }
    .rs-inner-blog .blog-item .blog-content .blog-title {
        font-size: 20px;
        line-height: 30px;
    }
    .rs-seo-website.style1.modify1 .newsletter-form {
        max-width: 430px;
    }
    .rs-about.style2 .widget-part .content-part {
        left: 80px;
    }
    .rs-contact.main-home .sec-title2 .desc {
        font-size: 13px;
    }
    .rs-contact.main-home .sec-title2 .title{
        font-size: 28px;
        line-height: 40px;
    }
    .rs-footer.style1 .footer-bottom .copy-right-menu li {
        padding: 0px 10px 0 16px;
    }
    .rs-footer.style1 .footer-bottom .copy-right-menu li a {
        font-size: 14px;
    }
    .rs-footer.style1 .footer-bottom .copyright p {
        font-size: 15px;
    }
    .rs-footer.style1 .subscribe-bg .subscribe-top .footer-contact .address-widget {
        display: block;
    }
    .rs-slider.style1 .slider .slider-content .sl-title {
        font-size: 42px;
        line-height: 42px;
    }
    .rs-seo-website.style1 .newsletter-form button {
        width: 100%;
        padding: 12px;
        position: static;
    }
    .rs-seo-website.style1 .newsletter-form {
        display: block;
        padding: 0px 0;
    }
    .rs-seo-website.style1 .newsletter-form input[type="email"]{
        border-bottom: 1px solid #eee;
    }
    .rs-seo-website.style1 .newsletter-form input[type="email"],
    .rs-seo-website.style1 .newsletter-form input[type="text"] {
        padding: 10px 15px 10px 26px;
        border-right: unset;
        width: 100%;
    }
    .rs-seo-website.style1 .newsletter-form input[type="website"] {
        padding: 10px 15px 10px 26px;
        border-top: 1px solid #dfdfdf;
        width: 100%;
    }
    .rs-banner.style4 .banner-content .banner-btn li .rs-videos .animate-border .popup-border {
        left: 54%;
        bottom: -10px;
    }
    .rs-banner.style4 .banner-content .title {
        font-size: 35px;
        line-height: 1.2em;
    }
    .rs-partner.main-home .grid-figure{
        padding-left: 60px;
        padding-right: 60px;
    }
}

@media only screen and (max-width: 480px) {
    .offset-1 {
        margin-left: 0;
    }
    .offset-2 {
        margin-left: 0;
    }
    .container-fluid {
        padding-left: 30px;
        padding-right: 30px;
    }
    .rs-checkout .checkout-title h3 {
        font-size: 20px;
        margin: 0;
    }
    .rs-single-shop .tab-area ul.nav-tabs li a {
        padding: 10px 30px;
        display: block;
    }
    .rs-partner.main-home.modify1 .grid-figure{
        padding: 20px 30px;
    }
    .rs-checkout .coupon-toggle .accordion .card .card-body .coupon-code-input {
        width: 100%;
        display: block;
        margin-bottom: 10px;
    }
    .rs-single-shop .tab-area ul.nav-tabs {
        display: block;
        border-bottom: unset;
    }
    .rs-banner.style5 .banner-content .title {
        font-size: 34px;
        line-height: 42px;
        margin-bottom: 20px;
    }
    .readon.started-now{
        padding: 12px 25px;
    }
    .rs-single-shop .tab-area ul.nav-tabs li {
        margin-bottom: 10px;
    }
    .rs-contact.style3 .contact-wrap textarea {
        height: 90px;
    }
    .rs-contact.style3 .contact-wrap {
        padding: 40px 20px 40px 20px;
    }
    .rs-partner.main-home .grid-figure {
        padding: 50px 50px 50px 50px;
    }
    .rs-team-Single .btm-info-team {
        padding: 20px;
    }
    .rs-team-Single .btm-info-team .con-info::before {
        top: 228px;
        font-size: 224px;
        right: 11px;
        top: 250px;
    }
    .rs-video.style1 .images-part.style2 {
        background-position: center center;
    }
    .rs-cta.style1 .title-wrap .epx-title {
        font-size: 25px;
        line-height: 35px;
    }
    .rs-contact.style1.modify1 .images-part {
        padding: 200px 100px;
    }
    .rs-contact.style1.modify1 .sec-title .title{
        font-size: 20px;
        line-height: 30px;
    }
    .rs-contact.style1.modify1 .contact-wrap {
        padding: 50px 30px 50px 30px;
    }
    .rs-inner-blog .blog-details .blog-full .single-post-meta {
        padding: 0px 0 15px;
    }
    .rs-inner-blog .blog-details .blog-full .single-post-meta .Post-cate {
        padding-right: 7px;
        font-size: 12px;
    }
    .rs-inner-blog .blog-details .blog-full .single-post-meta .Post-cate {
        font-size: 12px;
    }
    .rs-inner-blog .blog-details .blog-full .single-post-meta li .p-date {
        font-size: 12px;
        margin-right: 8px;
    }
    .rs-inner-blog .blog-details .blog-full .single-post-meta .Post-cate .tag-line a {
        font-size: 12px;
    }
    .rs-inner-blog .blog-item .blog-content .blog-desc {
        margin-bottom: 10px;
    }
    .rs-inner-blog .blog-item .blog-content .blog-title {
        font-size: 18px;
        line-height: 28px;
    }
    .rs-inner-blog .blog-item .blog-content {
        padding: 20px 8px 20px;
    }
    .rs-contact.style2 .contact-widget textarea {
        height: 100px;
    }
    .rs-contact.style2 .sec-title2 .title{
        font-size: 23px;
        line-height: 33px;
    }
    .rs-contact.style2 .contact-widget {
        background: #ffffff;
        padding: 35px 30px 35px 30px;
    }
    .rs-contact.style2 .contact-box {
        padding: 40px 30px 40px 30px;
    }
    .rs-partner.main-home .grid-figure{
        padding: 35px;
    }
    .rs-contact.style2 .contact-box .address-box {
        display: block;
    }
    .rs-contact.style2 .contact-box .address-box .address-text {
        padding-left: unset;
    }
    .rs-contact.style2 .contact-box .address-box .address-img img {
        margin-bottom: 20px;
    }
    .rs-about.style1.inner-style4 .sec-title2 .title{
        font-size: 23px;
        line-height: 33px;
    }
    .rs-about.inner-style3 .sec-title .title {
        font-size: 22px;
        line-height: 32px;
    }
    .rs-services.style8 .services-item {
        display: block;
        padding: 20px 25px 20px 25px;
    }
    .rs-services.style8 .services-item .services-content {
        padding-left: unset;
    }
    .rs-services.style8 .services-item .services-icon img {
        width: 55px;
        height: 55px;
        margin-bottom: 20px;
    }
    .rs-services.style8 .services-item .services-content .title {
        font-size: 17px;
        line-height: 27px;
        margin-bottom: 5px;
    }
    .rs-pricing.style2 .pricing-table {
        max-width: 300px;
    }
    .full-width-header .right_menu_togle{
        padding-right: 20px;
        padding-left: 20px;
        width: 300px;
    }
    .rs-breadcrumbs .breadcrumbs-inner .page-title {
        font-size: 22px;
        line-height: 32px;
    }
    .rs-breadcrumbs .breadcrumbs-inner ul li {
        font-size: 13px;
    }
    .rs-inner-blog .blog-details .blog-full .comment-note textarea {
        height: 100px;
    }
    .rs-seo-website.style1.modify1 .sec-title .title{
        font-size: 26px;
        line-height: 36px;
    }
    .rs-seo-website.style1.modify1 .newsletter-form {
        max-width: 270px;
    }
    .rs-services.style10 .sec-title .title{
        font-size: 29px;
        line-height: 39px;
    }
    .rs-about.style2 .sec-title .title{
        font-size: 25px;
        line-height: 35px;
    }
    .rs-about.style2 .widget-part {
        margin: -196px 0px 0px 129px;
        padding: 76px 62px 106px 62px;
    }
    .rs-about.style2 .widget-part .content-part {
        left: 20px;
        right: 20px;
    }
    .rs-about.style2 .widget-part .content-part .title {
        font-size: 25px;
        line-height: 35px;
    }
    .rs-about.style2 .widget-part .content-part p {
        font-size: 14px;
    }
    .rs-banner.style5 .banner-content {
        padding: 100px 0 10px;
    }
    .rs-banner.style5 {
        background: unset;
    }
    .rs-faq .faq-content .accordion .card .card-body {
        padding: 0 30px 40px 28px !important;
    }
    .rs-faq .faq-content .accordion .card .card-body {
        font-size: 14px;
    }
    .rs-faq .faq-content .accordion .card .card-header .card-link {
        font-size: 14px;
        padding: 20px 30px 0 20px;
    }
    .rs-team.style2 .sec-title .title {
        font-size: 25px;
        line-height: 35px;
    }
    .rs-services.style7 .sec-title .title.title2 {
        font-size: 23px;
        line-height: 33px;
    }
    .rs-about.style3 .sec-title2 .title{
        font-size: 23px;
    }
    .rs-banner.style4 .banner-content .title {
        font-size: 24px;
        line-height: 1.2em;
        margin: 0px 0px 20px 0px;
    }
    .rs-banner.style4 .banner-content .banner-btn li .rs-videos .animate-border .popup-border {
        left: 80%;
        bottom: -10px;
    }
    .rs-banner.style4 .banner-content {
        padding: 90px 0 40px;
    }
    .rs-testimonial.style4 .testi-item .item-content {
        padding: 50px 25px 40px 25px;
    }
    .rs-counter.style2 .sec-title3 .title{
        font-size: 30px;
    }
    .rs-about.style1 .sec-title3 .title{
       font-size: 30px;
       line-height: 1.2em;
    }
    .rs-about.style1 .images-part .about-img .images.left {
        bottom: -180px;
    }
    .rs-about.style1 .images-part .about-img .images.right {
        bottom: -80px;
        right: -6px;
    }
    .rs-services.style6 .sec-title3 .title {
        font-size: 18px;
    } 
    .rs-services.style6 .sec-title3 .sub-text {
        font-size: 14px;
        line-height: 26px;
    }
    .rs-services.style6 .services-item .services-content .services-desc p {
        font-size: 14px;
        line-height: 28px;
    }
    .rs-banner.style3 .banner-content {
        padding: 65px 0 35px;
    }
    .rs-banner.style3 .banner-content .title {
        font-size: 33px;
        line-height: 43px;
    }
    .rs-blog .sec-title2 .title {
        font-size: 25px;
        line-height: 28px;
    }
    .rs-contact.style1 .contact-wrap {
        padding: 50px 30px 50px 30px;
        background: #e8f0fb;
    }
    .rs-about.style1 .sec-title2 .title {
        font-size: 35px;
        line-height: 36px;
    }
    .rs-pricing.style1 .pricing-table .pricing-table-body .features-title {
        font-size: 22px;
        line-height: 24px;
    }
    .rs-pricing.style1 .pricing-table .pricing-table-body {
        padding: 22px 20px 18px 20px;
    }
    .rs-pricing.style1 .pricing-table .pricing-table-body .features-list li {
        font-size: 14px;
    }
    .rs-pricing.style1 .pricing-table {
        max-width: 330px;
    }
    .rs-services.style3 .sec-title .title {
        font-size: 25px;
        line-height: 35px;
    }
    .rs-services.style3 .services-item {
        display: block;
    }
    .rs-services.style3 .services-item .services-content {
        padding-left: unset;
    }
    .rs-footer.style1 .subscribe-bg .subscribe-top .footer-contact .address-widget .address-item .text-part .desc {
        font-size: 14px;
    }
    .rs-footer.style1 .subscribe-bg .subscribe-top .footer-contact .address-widget .address-item .icon-part i::before {
        font-size: 30px;
        padding-right: 15px;
    }
    .rs-contact.main-home .address-box .address-icon img {
        width: 30px;
        height: 30px;
    }
    .rs-contact.main-home .address-box .address-text .title {
        font-size: 18px;
        line-height: 28px;
    }
    .rs-contact.main-home .address-box .address-text {
        padding: 0px 0 0 14px;
    }
    .rs-contact.main-home .contact-wrap {
        padding: 30px 30px 40px 30px;
    }
    .rs-contact.main-home .contact-wrap .content-part .title {
        font-size: 16px;
        line-height: 28px;
    }
    .rs-contact.main-home .contact-wrap .content-part .desc {
        font-size: 13px;
    }
    .rs-banner.main-home .content-wrap .title {
        font-size: 22px;
        line-height: 40px;
        margin: 0px 0px 25px 0px;
    }
    .rs-banner.main-home .content-wrap .banner-btn li .readon.started{
        padding: 14px 32px 14px 32px;
        font-size: 13px;
    }
    .rs-banner.main-home .content-wrap .banner-btn li .rs-videos .animate-border .popup-border {
        left: 66%;
        top: 76%;
    }
    .rs-banner.main-home .content-wrap {
        padding: 145px 0 45px;
    }
    .rs-services.main-home .services-item .services-content .services-desc p {
        font-size: 13px;
    }
    .rs-services.main-home .services-item .services-content .serial-number {
        font-size: 57px;
        top: -100;
    }
    .rs-slider.style1 .slider .slider-content .sl-title {
        font-size: 34px;
        line-height: 42px;
    }
    .rs-slider.style1 .slider .slider-content .desc {
        font-size: 14px;
        line-height: 26px;
    }
    .rs-slider.style1 .slider .slider-content .desc{
        margin-bottom: 35px;
    }
    .rs-slider.style1 .slider .slider-content {
        padding: 95px 0 100px;
    } 
    .rs-slider.style1 .slider .slider-content .readon.get-in{
        font-size: 16px;
    }
    .readon.started,
    .rs-slider.style1 .slider .slider-content .readon.get-in{
        padding: 12px 25px;
    }
    .rs-banner.style2 .content-wrap .title {
        font-size: 22px;
        line-height: 28px;
        margin: 0px 0px 20px 0px;
    }
    .box-section{
        padding: 0;
    }
    .box-section .box-section-main{
        padding: 20px;
    }
    .box-section img{
        width: 100px;
    }
    .logo-client ul li{
        display: block;
        padding: 15px;
    }
    .rs-banner.style2 .content-wrap .description {
        font-size: 14px;
        margin: 0;
            margin-bottom: 15px;
    width: 100%;
    }
    .rs-banner.style2 .content-wrap .sub-text {
        font-size: 14px;
        margin: 0px 0 14px;
        line-height: 25px;
    }
}

@media only screen and (max-width: 320px) {
    
}